<div fxLayout="column">
  <div fxLayout="row" style="margin-top: 30px">
    <div fxFlex="16" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/carte2.png"/>
      <p><b> Carte débloquée </b></p>
    </div>
    <div fxFlex="16" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/carte_mystere.png"/>
      <p><b> Carte à débloquer </b></p>
    </div>
    <div fxFlex="16" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/carte_mystere.png"/>
      <p><b> Carte à débloquer </b></p>
    </div>
    <div fxFlex="16" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/carte2.png"/>
      <p><b> Carte débloquée </b></p>
    </div>
    <div fxFlex="16" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/carte_mystere.png"/>
      <p><b> Carte à débloquer </b></p>
    </div>
    <div fxFlex="16" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/carte_mystere.png"/>
      <p><b> Carte à débloquer </b></p>
    </div>
  </div>

  <div fxLayout="row" style="margin-top: 105px">
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="start center">
      <p><b> Indice Capital Sommeil </b></p>
      <div id="pie1"></div>
    </div>
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="start center">
      <p><b> Capacité à parler de sa maladie </b></p>
      <div id="pie2"></div>
    </div>
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="start center">
      <p><b> Taux d'activité physique </b></p>
      <div id="pie3"></div>
    </div>
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="start center">
      <p><b> Lecture de témoignages </b></p>
      <div id="pie4"></div>
    </div>
    <div fxFlex="25" fxLayout="column" fxLayoutAlign="start center">
      <p><b> Assiduité du traitement </b></p>
      <div id="pie5"></div>
    </div>
  </div>
  <div fxLayout="row" style="margin-top: 20px">
    <div fxFlex="33" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/trophy_succes.gif" style="height:65%; width:40% ;filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);"/>
      <p><b> Faire un jogging de 30 minutes </b></p>
    </div>
    <div fxFlex="33" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/trophy_succes.gif" style="height:65%; width:40%"/>
      <p><b> Discuter avec Hajime pendant 5 minutes </b></p>
    </div>
    <div fxFlex="33" fxLayout="column" fxLayoutAlign="start center">
      <img src="assets/trophy_succes.gif" style="height:65%; width:40% ;filter: grayscale(100%);
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);"/>
      <p><b> Lire 2 expériences vicariantes </b></p>
    </div>
  </div>
</div>
